body {
    background-color: #000;
    margin: 0;
    padding: 0;
    position: relative;
    height: 100vh;
}

.center {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}